.mainContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui;
}

.container {
  background: linear-gradient(to right, #2fa4e4 0%, #5dcfd0 100%);
  border-radius: 20px;
  padding: 20px 0px;
  color: white;
  text-align: center;
  box-shadow: 0 0 10px #2fa4e4;
  margin: 2rem 0;
}
.container header button{
  background-color: #111;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 15px;
  margin: 8px 0;
  font-weight: bold;
}
.container h1{
  font-size: 1.4rem;
  text-transform: uppercase;
}
.container h2{
  font-size: 1rem;
  font-weight: 600;
}
.formAddBudget{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 2rem;
}
.formAddBudget button{
  background-color: #111;
  color: white;
  border: none;
  padding: 0.3rem;
}
.containerDataSuscription{
  display: grid;
  gap: 2rem;
  margin: 1.2rem 80px;
  grid-template-columns: repeat(2, 1fr);
}
.containerDataSuscription div{
  display: flex;
  justify-content: center;
  color: #111;
  flex-direction: column;
  gap: 1.5rem;
  text-align: start;
  background: #c0e6f1;
  padding: 1.8rem 1rem;
  border-radius: 10px 40px;
}
.containerDataSuscription div span{
  font-weight: bold;
}
.formSubscription{
  display: grid;
  gap: 8px;
}
.formSubscription h3{
  font-size: 1rem;
  font-weight: 600;
  color: #111;
}
.formSubscription label{
  font-size: 0.9rem;
}
.formSubscription select,
.formSubscription input{
  text-align: center;
  padding: 0.2rem;
  outline: none;
}
.formSubscription button{
  background-color: #111;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 0.5rem;
}

.containerlistSuscriptions{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.listSuscription{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  color: #111;
  margin: 0 20px;
  padding: 1rem;
  border-radius: 10px;
}
.listSuscription div,
.listSuscription picture{
  display: flex;
  justify-content: center;
  width: 100%;
}
.listSuscription .buttons{
  display: flex;
  gap: 1rem;
}
.listSuscription .buttons button{
  background-color: #7fffd7;
  border: none;
  padding: 5px 8px;
  border-radius: 10px;
}
.listSuscription img{
  width: 100px;
}
  